@model List<TeaShopApi.WebUI.Dtos.ContactDtos.ResultContactDto>
@{
    ViewData["Title"] = "contactList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<h1>Gelen Mesajlar</h1>
<br />
<div class="row">
	<!-- [ sample-page ] start -->
	<div class="col-sm-12">
		<div class="card">

			<div class="card-header">
				<h5>Mesajlar Listesi</h5>

			</div>
			<div class="card-body">
				<table class=" table table-bordered">
					<tr>
						<th>Gönderen</th>
						<th>Konu</th>
						<th>İçerik</th>
						<th>Sil</th>
						<th>Güncelle</th>
					</tr>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.messageSenderName</td>
							<td>@item.messageSubject</td>
							<td>@item.messageDetail</td>
							<td><a href="/Admin/Contact/deleteContact/@item.contactID" class="btn btn-outline-danger">Sil</a></td>
							<td><a href="/Admin/Contact/updateContact/@item.contactID" class="btn btn-outline-success">Güncelle</a></td>

						</tr>
					}
				</table>
				<br />
				<a class="btn btn-outline-primary" href="/Admin/Contact/addContact/">Yeni Mesaj Ekle</a>
			</div>
		</div>
	</div>

</div>
