<div class="shop_section layout_padding">
    <div id="my_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="shop_taital">Kokteylerimiz</h1>
                    <p class="shop_text">
                        Hoş geldiniz! Kokteyl dünyasının eşsiz lezzetleriyle dolu bir serüvene hazır olun. İçecek İklimi, benzersiz karışımları 
                        ve yaratıcı içecekleriyle sizi unutulmaz bir lezzet yolculuğuna davet ediyor.
                    </p>
                    <div><img src="https://r.resimlink.com/J62Ep7g1qX.png" class="image_3"></div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>