@model TeaShopApi.WebUI.Dtos.ContactDtos.CreateContactDto
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeaderComponent")

<body>
	<!-- header section start -->
	@await Component.InvokeAsync("_NavbarComponentPartial")
	<!-- header section end -->
	<!-- about section start -->
	@await Component.InvokeAsync("_AboutComponentPartial")
	<!-- about section end -->
	<!-- services section start -->
	@await Component.InvokeAsync("_DefaultDrinkListComponentPartial")
	<!-- services section end -->
	<!-- choose section start -->
	@await Component.InvokeAsync("_UIStatisticComponentPartial")
	<!-- choose section end -->
	<!-- shop section start -->
	@await Component.InvokeAsync("_ShopComponentPartial")
	<!-- shop section end -->
	<!-- frequently section start -->
	
	<!-- frequently section end -->
	 @await Component.InvokeAsync("_QuestionComponentPartial")
	<!-- clients section start -->
	@await Component.InvokeAsync("_TestimonialComponentPartial")
	<!-- clients section end -->
	<!-- contact section start -->
	  @await Component.InvokeAsync("_ContactComponentPartial")

	<!-- contact section end -->
	<!-- footer section start -->
	@await Component.InvokeAsync("_FooterComponentPartial")
	<!-- footer section end -->
	<!-- copyright section start -->
	<div class="copyright_section">
		<div class="container">
			<p class="copyright_text">
				@DateTime.Now.ToShortDateString().<a href="https://html.design">
					Tüm Hakları Saklıdır
				</a> Distributed by. <a href="https://themewagon.com">ThemeWagon</a>
			</p>
			</p>
		</div>
	</div>
	<!-- copyright section end -->
	<!-- Javascript files-->
	@await Component.InvokeAsync("_ScriptComponentPartial")
</body>

</html>