<div class="footer_section layout_padding">
    <div class="container">
        <div class="newsletter_section">
            <div class="newsletter_left">
                <div class="footer_logo"><img src="~/teab-1.0.0/images/footer-logo.png"></div>
            </div>
            <div class="newsletter_right">
                <h5 class="newsletter_taital">Bize Katıl</h5>
                <div class="subscribe_main">
                    <input type="text" class="mail_text" placeholder="mail adresinizi girin" name="text">
                    <div class="subscribe_bt"><a href="#">Katıl</a></div>
                </div>
            </div>
        </div>
        <div class="footer_taital_main">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <h2 class="useful_text">Hakkımızda</h2>
                    <p class="ipsum_text">
                        Her yudumu bir keyif, her anı bir lezzet şölenine dönüştüren İçecek İklimi, 
                        sıcak atmosferi ve özenle hazırlanan içecekleriyle unutulmaz anlar vaat ediyor.
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h2 class="useful_text">Menü</h2>
                    <div class="footer_links">
                        <ul>
                            <li><a href="index.html">Anasayfa</a></li>
                            <li><a href="about.html">Hakkımızda</a></li>
                            <li><a href="services.html">Market</a></li>
                            <li><a href="pricing.html">Kokteyl</a></li>
                            <li><a href="contact.html">İletişim</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h2 class="useful_text">Kullanışlı Linkler</h2>
                    <div class="footer_links">
                        <ul>
                            <li><a href="#">Kahve Tarifleri</a></li>
                            <li><a href="#">Smoothie</a></li>
                            <li><a href="#">Kış İçecekleri </a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h2 class="useful_text">Bize Ulaşın</h2>
                    <div class="addres_link">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="~/teab-1.0.0/images/map-icon.png"><span class="padding_left_10">
                                        Bursa/Osmangazi
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/teab-1.0.0/images/call-icon.png"><span class="padding_left_10">
                                       0532 583 59 96
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/teab-1.0.0/images/mail-icon.png"><span class="padding_left_10">onur@gmail.com</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <h1 class="follow_text">Bizi Takip Edin</h1>
            <div class="social_icon">
                <ul>
                    <li><a href="#"><img src="~/teab-1.0.0/images/fb-icon.png"></a></li>
                    <li><a href="#"><img src="~/teab-1.0.0/images/twitter-icon.png"></a></li>
                    <li><a href="#"><img src="~/teab-1.0.0/images/linkedin-icon.png"></a></li>
                    <li><a href="#"><img src="~/teab-1.0.0/images/instagram-icon.png"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>