@model TeaShopApi.WebUI.Dtos.QuestionDto.UpdateQuestionDto
@{
    ViewData["Title"] = "updateQuestion";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<h1> Soru-Cevap Güncelle</h1>
<form method="post">
    <input type="hidden" asp-for="questionID" />
    <label>Soru</label>
    <input type="text" asp-for="questionDetail" class="form-control" />
    <br />
    <label>Cevap</label>
    <input type="text" asp-for="answerDetail" class="form-control" />
    <br />
    <button class="btn btn-outline-secondary">Kaydet</button>
</form>


